[[headers]]
for = "/*"
  [headers.values]
  X-Frame-Options = "DENY"
  X-Content-Type-Options = "nosniff"
  Referrer-Policy = "strict-origin"

for = "/*.png"
  [headers.values]
  Cache-Control = "public, max-age=31536000"
